[user]
	email = roberto@colossus.
	name = Roberto Saliola
[pull]
	rebase = true
[core]
	autocrlf = input
	editor = nvim
[push]
	autoSetupRemote = true
[includeIf "gitdir:~/code/roberto286/"]
    path = ~/.gitconfig-personal
[init]
	defaultBranch = main
[includeIf "gitdir:~/.dotfiles/"]
	path = ~/.gitconfig-dotfiles
